:root {
  /* colour */
  --clr-box-top-border-red: hsl(0, 78%, 62%);
  --clr-box-top-border-cyan: hsl(180, 62%, 55%);
  --clr-box-top-border-orange: hsl(34, 97%, 64%);
  --clr-box-top-border-blue: hsl(212, 86%, 64%);
  --clr-para-light-grey-200: hsl(0, 0%, 98%);
  --clr-h2-Grayish-blue-400: hsl(229, 6%, 66%);
  --clr-h1-very-dark-blue-600: hsl(234, 12%, 34%);

  /* font-weight */

  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;

  --ff-poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 5rem 1rem;
  line-height: 1.7;
  font-family: var(--ff-poppins);
}

main > article {
  text-align: center;
  margin-bottom: 2rem;
}

.title-1 {
  font-size: 1.5rem;
  color: var(--clr-h1-very-dark-blue-600);
  font-weight: 100;
}

.title-2 {
  font-size: 1.5rem;
  color: var(--clr-h1-very-dark-blue-600);
  font-weight: 600;
}

.title-para {
  font-size: 1rem;
  color: var(--clr-h2-Grayish-blue-400);
}
main .grid-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

main .grid-group article {
  background-color: #fff;
  box-shadow: 0 0 16px hsl(180, 62%, 55%, 0.15);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

main .grid-group article:first-child {
  border-top: 0.5rem solid var(--clr-box-top-border-blue);
}

main .grid-group article:nth-child(2) {
  border-top: 0.5rem solid var(--clr-box-top-border-red);
}

main .grid-group article:nth-child(3) {
  border-top: 0.5rem solid var(--clr-box-top-border-orange);
}

main .grid-group article:last-child {
  border-top: 0.5rem solid var(--clr-box-top-border-cyan);
}

main .grid-group article h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: var(--clr-h1-very-dark-blue-600);
}

main .grid-group article p {
  font-size: 1rem;
  color: var(--clr-h2-Grayish-blue-400);
}

main .grid-group article img {
  display: block;
  margin-left: auto;
}

/* ================desktop-view===============*/

@media (min-width: 768px) {
  main > article {
    max-width: 500px;
    margin: auto;
    margin-bottom: 2rem;
  }

  main .grid-group {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  main .grid-group article {
    /* flex: 1; */
    width: 400px;
  }

  main .grid-group article:nth-child(1) {
    transform: translateY(50%);
  }

  main .grid-group article:nth-child(3) {
    transform: translateY(50%);
  }
}
